<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no" />

    <title>Cruzadas</title>

    <meta name="author" content="Estadão" />
    <meta name="description" content="Jogue a cruzada do dia no desktop ou no seu dispositivo móvel" />

    <meta property="fb:app_id" content="268068763366373" />
    <meta property="og:title" content="Cruzadas - Estadão" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Jogue a cruzada do dia no desktop ou em seu dispositivo móvel" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:site_name" content="Estadão" />
    <meta property="og:url" content="https://infograficos.estadao.com.br/jogos/" />
    <meta property="og:image" content="https://infograficos.estadao.com.br/jogos/images/cruzada.jpg" />
    <meta property="og:image:type" content="image/jpeg" />

    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="css/cruzada.css?v=19.9">

	</head>

	<body>

    <div class="title">
      <div class="intro">
        <h1 class="alert">Palavras cruzadas</h1>

        <div class="topBt">
            <input type="button" id="btCheck" name="check" value="conferir" />
            <input type="button" id="btClear" name="clear" value="limpar" />
            <input type="button" id="btZoom" name="zoom" value="" />
            <div id="timeCounter">Tempo<br><span>00:00:00</span></div>
        </div>
      </div>

      <div id="alertBox">
          <div id="alertContent">
          Toque uma vez para preencher na horizontal, duas vezes para preencher na vertical
          </div>
          <!--<a id="closeButton" href="#">ok</a>-->
      </div>
    </div>

    <div id="page" class="site">

      <div id="puzzleContainer">
        <div id="puzzleHolder">
          <div id="puzzleAnswers"></div>
          <div id="puzzleInputs"></div>
          <img class="crosswords" src="images/cruzada.jpg" />

          <div id="copyright">
            <span class="logoCopy">
              <img src="images/logo-coquetel.jpg" alt="© COQUETEL" />
            </span>
            <span class="dev">© Revistas COQUETEL / Desenvolvimento: ESTADÃO
            </span>
          </div>
        </div>
      </div>

    </div>

    <div id="keyboardContainer" class="open">
        <ul id="keyboard">
            <li class="key lq"><span>q</span></li>
            <li class="key lw"><span>w</span></li>
            <li class="key le"><span>e</span></li>
            <li class="key lr"><span>r</span></li>
            <li class="key lt"><span>t</span></li>
            <li class="key ly"><span>y</span></li>
            <li class="key lu"><span>u</span></li>
            <li class="key li"><span>i</span></li>
            <li class="key lo"><span>o</span></li>
            <li class="key lp"><span>p</span></li>
            <li class="spacer sp1"><span></span></li>
            <li class="key la"><span>a</span></li>
            <li class="key ls"><span>s</span></li>
            <li class="key ld"><span>d</span></li>
            <li class="key lf"><span>f</span></li>
            <li class="key lg"><span>g</span></li>
            <li class="key lh"><span>h</span></li>
            <li class="key lj"><span>j</span></li>
            <li class="key lk"><span>k</span></li>
            <li class="key ll"><span>l</span></li>
            <li class="spacer sp2"><span></span></li>
            <li class="hide sp3"><span></span></li>
            <li class="key lz"><span>z</span></li>
            <li class="key lx"><span>x</span></li>
            <li class="key lc"><span>c</span></li>
            <li class="key lv"><span>v</span></li>
            <li class="key lb"><span>b</span></li>
            <li class="key ln"><span>n</span></li>
            <li class="key lm"><span>m</span></li>
            <li class="delete"><span></span></li>
        </ul>
    </div>

    <div id="horizOverlay">
      <p>Para jogar, coloque o aparelho na vertical</p>
    </div>

    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/cruzada.js?v=19.9"></script>

    <!-- Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-166963-4', 'auto');
        ga('send', 'pageview');
    </script>

	</body>
</html>
